body._lock {
  overflow: hidden;
}

.menu-btn {
  display: none;
}

@media (max-width: 1455px) {
  #slide3 {
    display: none;
  }

  #label-slider-radio4 {
    display: flex;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1250px) {
  .favorites-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {

  .menu-btn {
    display: block;
    padding-bottom: 2px;
  }

  #label-slider-radio5 {
    display: flex;
  }

  #menu-btn-id {
    order: 2;
  }

  .profile-link {
    z-index: 2;
  }

  #profile-link-id {
    order: 1;
  }

  .header-block {
    justify-content: space-between;
  }

  .header :nth-child(2) {
    /* order: 3; */
  }

  .menu-toggle {
    position: relative;
    z-index: 2;
  }

  .menu-btn .menu-toggle::after:hover {
    background: #BB945F;
  }

  .header-navigation {
    position: absolute;
    padding-top: 100px;
    top: 0px;
    right: 0;
    width: 0;
    height: 10px;
    background: #000;
    /* background: #0C0C0E; */
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: block;
    justify-content: space-between;
    transition: height 0.75s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 0;
  }

  .header-navigation.active {
    right: 0;
    width: 332px;
    height: 570px;
    transition: width 0.75s, height 0s;
    transition-delay: 0s, 0.1s;
  }

  /* Hamburger toggle menu */

  .menu-toggle {
    position: relative;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle::before {
    content: '';
    width: 45px;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px #fff;
    transition: 0.5s;
  }

  .menu-toggle::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
  }

  .menu-toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
  }

  .menu-toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .menu-toggle:hover::before {
    background: #BB945F;
    box-shadow: 0 10px #BB945F;
  }

  .menu-toggle:hover::after {
    background: #BB945F;
  }

  .menu-toggle.active:hover::before {
    box-shadow: 0 0 #555;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu li {
    margin: 0 auto;
  }

  .menu li a {
    display: flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

  }

  .menu li a:hover {
    color: #BB945F;
  }

  .favorites-box,
  .contacts,
  .library-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #slide2 {
    display: none;
  }

  .slider {
    position: relative;
    margin-bottom: 20px;
  }

  .slider-arrow-left,
  .slider-arrow-right {
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background: none;
  }

  .slider-arrow-left {
    position: absolute;
    top: calc(50% + 8px);
    left: calc(50% - 307px);
    /* padding-top: 40px;
  margin-right: 30px; */
  }

  .slider-arrow-right {
    position: absolute;
    top: calc(50% + 8px);
    right: calc(50% - 307px);
    /* padding-top: 40px;
  margin-left: 30px; */
  }

  .slider-pagination {
    margin-bottom: 35px;
  }

  .favorites-box-card {
    max-width: 100%;
  }

  .p-coffee-shop {
    /* margin: 0 -2px 40px -2px; */
    letter-spacing: 1.9px;

  }

  .coffee-shop-box {
    position: relative;
    justify-content: space-between;
  }

  .coffee-shop-box-right-column {
    margin-left: auto;

  }

  .contacts-box-left-column {
    width: 100%;
    margin-bottom: 99px;
  }

  .contacts-box-right-column {
    width: 100%;
    /* height: 100%; */
    align-items: right;
  }

  .library-card {
    margin: 0 auto;
  }

  .library-card-box-left-column {
    max-width: 100%;
    align-items: center;
  }
  .library-card-box-right-column {
    width: 80%;
    align-items: center;
  }


  .h3-library-card-right-column {
    margin-bottom: 40px;
  }

  .p-library-card-box-right-column {
    text-align: center;
    margin-bottom: 40px;
  }

  .check-the-card-form {
    margin-bottom: 21px;
  }

  .p-footer-bottom-row-left {
    margin-right: 10px;
  }

  .library-card {
    padding-bottom: 40px;
  }
}

/* @media (max-width: 670px) {
  .slider-arrow-left {
    margin-right: 0px;

  }

  .slider-arrow-right {
    margin-left: 0px;
  }
} */