/* @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Forum';
  font-family: 'Inter', sans-serif; */
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header-block {
  display: flex;
  background: #0C0C0E;
}

.header-left-column {
  width: 53%;
}

.header-right-column {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 4px;
}

h1 {
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding: 20px;
}

.navigation a {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

a:hover {
  cursor: pointer;
  color: grey;
  transition: 0.3s;
}

.navigation {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.welcome-block {
  display: flex;
  align-items: start;
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../img/welcome-without-overlay.jpg);
  padding-top: 220px;
  background-repeat: no-repeat;
  /* background-size: contain; */
}

.welcome-h2 {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 35px 116px;
  background: #0C0C0E;
}

.about,
.favorites {
  text-align: center;
}

.h2-about,
.h2-favorites {
  margin-top: 20px;
  padding-bottom: 61px;
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  /* border-bottom: #000 solid; */
}

.h2-about::before,
.h2-favorites::before {
  content: '';
  border: 1px solid #0C0C0E;
  width: 50px;
  position: absolute;
  top: 55px;
  left: 695px;
  /* transform: 90deg; */
}

.p-about {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* margin-bottom: 20px; */
}

.about-block {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.h3-favorites {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.caurusel-pagination {
  margin-top: 20px;
  margin-bottom: 37px;
}

.favorites-season {
  /* display: flex; */
  /* justify-content: start; */
  /* gap: 177px; */
}

.form-favorites-season {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 40px;
}

.favorites-season-radio-btn {
  display: flex;
  gap: 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.favorites-season-radio-btn input:checked+label {
  font-weight: 700;
}

.favorites-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favorites-box-item {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  background: #FFF;
  margin-bottom: 40px;
}